{%extends 'base.html' %}

{% block head %}
<style>
	.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}
</style>
{% endblock %}

{% block body %}
<div class="content">
	<h1 style="text-align: center">Update Task</h1>

	<div class="form">
		<form action="/update/{{task.id}}" method="POST">
			<input type="text" name="content" id="content" value="{{task.content}}">
			<input type="submit" name="Update">
		</form>
	</div>
</div>
{% endblock %}